@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';

.router-link {
  position: fixed;
  top: 1rem;
  right: 1rem;
  outline: none;
  cursor: pointer;

  &:hover {
    text-decoration: underline;
  }
}

/* Create and Edit forms for admin panel */
.input-form-create-edit-container {
  display: flex;
  flex-direction: column;
  max-width: 600px;
  margin: auto;
}

.input-form-create-edit-container > * {
  width: 100%;
}

.input-form__remove {
  cursor: pointer;

  &:hover {
    text-decoration: underline;
  }
}

/* Helpers */
.no-select {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}

.component-heading {
  text-align: center;
}
